<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Experience</th>
      <th scope="col">Speciality</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
<tbody >
  <tr *ngFor='let c of trainersData'>
      <td>{{c._id}}</td>
      <td>{{c.firstName}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.experience}}</td>
      <td>{{c.speciality}}</td>
      <td *ngIf="c.img" > <img [src]="c.img" alt="" width="150px" height="150px"> </td>
      <td *ngIf="!c.img"> <img src="c.img" alt="" width="150px" height="150px"> </td>
      <td>
          <button type="button" (click)="displayTrainer(c._id)" class="btn btn-success">Display</button>
          <button type="button" (click)="editTrainer(c._id)"class="btn btn-warning">Edit</button>
          <button type="button" (click)="deleteTrainer(c._id)"class="btn btn-danger">Delete</button>
      </td>

  </tr>
</tbody>
</table>
