 
<h1 style="margin-top: 140px;" (click)="onClick()" (mouseover)="onMouseOver()"
(mouseout)="onMouseLeft()" >Admin Panel : {{mouseOver}} {{msg}}</h1> 

<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="mouseOver" aria-valuenow="[(mouseOver)]" aria-valuemin="0" aria-valuemax="100">{{mouseOver}}%</div>
</div>

<button type="button" class="btn btn-danger" (click)="onClickReset()">reset</button>
<input type="text" class="form-control" [(ngModel)]='Message'> 
<h3>{{Message}}</h3>
<ul style="margin-top: 3px;" class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="trainers-tab" data-toggle="tab" href="#trainers" role="tab" aria-controls="trainers" aria-selected="true">Trainers</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Courses</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Users</a>
    </li>
    
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="trainers" role="tabpanel" aria-labelledby="trainers-tab">
      <app-admin-trainers></app-admin-trainers>
    </div>
    <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
      <app-admin-courses></app-admin-courses>
    </div>
    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
      <app-admin-users></app-admin-users></div>
  </div>
  