 <!-- Contact Form -->
 <div class="col-lg-8 " style="margin-top: 200px; margin-bottom: 200px;">
    <div class="contact_form justify-content-center">
        <div class="contact_info_title">{{text}}Course Form</div>
        <!-- <div class="contact_info_title">Edit Course Form</div> -->
        <form action="#" class="comment_form" #courseForm='ngForm' (ngSubmit)='submitEditCourse()'>
            
            <div>
                <div class="form_title">Name</div>
                <input type="text" class="comment_input" [(ngModel)]='course.name' [ngModelOptions]="{standalone: true}" required="required">
            </div>
            <div>
                <div class="form_title">Price</div>
                <input type="text" class="comment_input" [(ngModel)]='course.price' [ngModelOptions]="{standalone: true}" required="required">
            </div>
            <div>
                <div class="form_title">Trainer</div>
                <input type="text" class="comment_input" [(ngModel)]='course.trainer' [ngModelOptions]="{standalone: true}" required="required">
            </div>
            <div>
                <div class="form_title">Duration</div>
                <input type="text" class="comment_input" [(ngModel)]='course.durartion' [ngModelOptions]="{standalone: true}" required="required">
            </div>
            <div>
                <div class="form_title">Capacity</div>
                <input type="text" class="comment_input" [(ngModel)]='course.capacity' [ngModelOptions]="{standalone: true}" required="required">
            </div>
            
            <div>
                <button type="submit" class="comment_button trans_200">{{text}} Course </button>
            </div>
        </form>
    </div>
</div>