<div class="super_container">
	<!-- Header -->
	<!-- Menu -->
	<app-menu></app-menu>
	<!-- Home slider -->
	<app-home-slider></app-home-slider>
	<!-- Features -->
	<app-features></app-features>
	<!-- Popular Courses -->
	<app-courses></app-courses>
	<!-- Counter -->
	<app-counter></app-counter>
	<!-- Events -->
	<app-events></app-events>
	<!-- Team -->
	<app-teams></app-teams>
	<!-- Latest News -->
	<app-news></app-news>
	<!-- Newsletter -->
	<app-newsletter></app-newsletter>
	<!-- Footer -->
</div>