<!-- Contact Form -->
<div class="col-lg-8 " style="margin-top: 200px; margin-bottom: 200px;">
    <div class="contact_form justify-content-center">
        <div class="contact_info_title">Signup</div>
        <form action="#" class="comment_form" [formGroup]='signupForm'>

            <div>
                <div class="form_title">First Name</div>
                <input type="text" class="comment_input" formControlName="firstName" required="required">
            </div>
            <div
                *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty && signupForm.controls['firstName'].touched)">
                <div *ngIf="signupForm.controls['firstName'].errors.required" style="color: green;">
                    First Name is required
                </div>
                <div *ngIf="signupForm.controls['firstName'].errors.minlength" style="color: red;">
                    First Name must have at least 5 caracters
                </div>
            </div>
            <div>
                <div class="form_title">Last Name</div>
                <input type="text" class="comment_input" formControlName="lastName" required="required">
            </div>
            <div
                *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].dirty && signupForm.controls['lastName'].touched)">
                <div *ngIf="signupForm.controls['lastName'].errors.required" style="color: green;">
                    Last Name is required
                </div>
                <div *ngIf="signupForm.controls['lastName'].errors.minlength" style="color: red;">
                    Last Name must have at least 5 caracters
                </div>
            </div>
            <div>
                <div class="form_title">Email</div>
                <input type="text" class="comment_input" formControlName="email" required="required">
            </div>
            <div
                *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty && signupForm.controls['email'].touched)">
                <div *ngIf="signupForm.controls['email'].errors.required" style="color: green;">
                    email is required
                </div>
                <div *ngIf="signupForm.controls['email'].errors.email" style="color: red;">
                    invalid email
                </div>
            </div>
            <div>
                <div class="form_title">Password</div>
                <input type="text" class="comment_input" formControlName="pwd" required="required">
            </div>
            <div
                *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].dirty && signupForm.controls['pwd'].touched)">
                <div *ngIf="signupForm.controls['pwd'].errors.required" style="color: green;">
                    pwd is required
                </div>
                <div *ngIf="signupForm.controls['pwd'].errors.minlength" style="color: red;">
                    pwd must have at least 5 caracters
                </div>
                <div *ngIf="signupForm.controls['pwd'].errors.maxlength" style="color: red;">
                    pwd must have at least 12 caracters
                </div>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" formControlName='confirmPwd' placeholder="Confirm Password">
            </div>
            <div
                *ngIf="signupForm.controls['confirmPwd'].invalid && (signupForm.controls['confirmPwd'].dirty || signupForm.controls['confirmPwd'].touched)">
                <div *ngIf="signupForm.controls['confirmPwd'].errors.mustMatch" class="textdanger">
                    Les mots de passe ne sont pas conforme
                </div>
            </div>
            <div>
                <button type="submit" class="comment_button trans_200" (click)="signup()">Signup</button>
            </div>
        </form>
    </div>
</div>